<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <Subject (ngSubmit)="sendToAPIXU(locations.value)" >
        <div>
          <input
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
        </div>
        <p style="color:red">{{ this.errormessage}}</p>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </Subject>
    </div>
    <div class="col-md-6">
      <h3 class="text-center my-4">Weather Details:</h3>
      <p class="text-center">
        <img *ngIf="this.weatherData?.current.weather_code  == '113'"
             src="https://www.flaticon.com/svg/static/icons/svg/606/606795.svg" alt="sunny" width="50" height="50">
        <img *ngIf="this.weatherData?.current.weather_code  == '176' || this.weatherData?.current.weather_code  == '182'||
        this.weatherData?.current.weather_code  == '263'|| this.weatherData?.current.weather_code  == '266'||
        this.weatherData?.current.weather_code  == '296'|| this.weatherData?.current.weather_code  == '299'||
        this.weatherData?.current.weather_code  == '302'|| this.weatherData?.current.weather_code  == '305'||
        this.weatherData?.current.weather_code  == '308'|| this.weatherData?.current.weather_code  == '311'"
             src="https://www.flaticon.com/svg/static/icons/svg/606/606797.svg" alt="rainy" width="50" height="50">
        <img *ngIf="this.weatherData?.current.weather_code  == '116'|| this.weatherData?.current.weather_code  == '116'||
        this.weatherData?.current.weather_code  == '119'|| this.weatherData?.current.weather_code  == '122'"
             src="https://www.flaticon.com/svg/static/icons/svg/606/606796.svg" alt="cloudy" width="50" height="50">
        <img *ngIf="this.weatherData?.current.weather_code  == '248'|| this.weatherData?.current.weather_code  == '260'||
        this.weatherData?.current.weather_code  == '143'"
             src="https://www.flaticon.com/svg/static/icons/svg/727/727789.svg" alt="mist" width="50" height="50">

      </p>
      <p class="text-center">
        Current weather conditions: {{ this.weatherData?.current.weather_descriptions[0]}}
      </p>
      <p class="text-center">
        Temperature in Degrees Celsius: {{ this.weatherData?.current.temperature }}
      </p>
      <p class="text-center">
        Feels like in Degrees Celsius: {{ this.weatherData?.current.feelslike
        }}
      </p>
      <p class="text-center">
        Wind speed km/h: {{
        this.weatherData?.current.wind_speed }}
      </p>
      <p class="text-center">
        Wind direction: {{
        this.weatherData?.current.wind_dir }}
      </p>
      <p class="text-center">
        Location Searched: {{ this.weatherData?.location.name }}, {{
        this.weatherData?.location.country }}.
      </p>
    </div>
  </div>
</div>
